//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/")
          h3.heading.left IBM 
            span.top-nav--logo-wdc Watson Developer Cloud
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html") Services
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/") Docs
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html") App Gallery
          li.top-nav--nav-item
            a(href="https://developer.ibm.com/watson/") Community
    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
          img.service-icon(src='/images/app.png')
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title Tone Analyzer
          p The Tone Analyzer service uses linguistic analysis to detect emotional tones, social propensities, and writing styles in written communication. Then it offers suggestions to help the writer improve their intended language tones. 
          div.resource
            img.link-icon(src='/images/link.svg')
            strong Resources:
          div.resource-item-container
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/tone-analyzer-apis.html') API Overview
            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/tone-analyzer/') Documentation
            a.resource-item(href='https://github.com/watson-developer-cloud/tone-analyzer-nodejs') Fork on Github
            a.resource-item(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/tone-analyzer-nodejs.git') Fork and Deploy on Bluemix
